*/.settings
*/target
*target
*.project
*.classpath
*.idea
*.vscode
*.iml
*.DS_Store
/build/
/bin/
*node_modules
*/log
.env
*.memory-card.json
package-lock.json
*/downloaded/
/default.log
/log/
/proxy.js
/config/secret.js
/.idea/*
/config/cli.pem
/config/srv.pem
/stickers.json
